/tests export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/resources/js export-ignore
/resources/css export-ignore
/node_modules export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/vite.config.js export-ignore
/tailwind.config.js export-ignore
/.editorconfig export-ignore
/.env.example export-ignore
/app export-ignore
/database export-ignore
/routes export-ignore
/bootstrap export-ignore
/storage export-ignore
/artisan export-ignore
/.DS_Store export-ignore
